{% extends 'base.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    {% include 'data2.html' %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="bx bxl-telegram me-1"></i>
                        List of Mosques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_signup' %}"><i class='bx bx-add-to-queue'></i> Add a New
                        Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_mosque' %}"><i class="bx bx-cog me-1"></i> Add a New Mosque
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}