{% extends 'base.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    {% include 'data2.html' %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'state_admin' %}"><i class="bx bxl-telegram me-1"></i>
                        Back to Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}