{% extends 'base.html' %}

{% block content %}
<script>
    $(document).ready(function()
    {
        var $select1=$('#select1'),
            $select2=$('#select2'),
            $options=$select2.find('option');
            $select1.on('change', function()
            {
                $select2.html($options.filter('[value="'+this.value+'"]'));
            }).trigger('change');
    });
</script>
<script>
    $(document).ready(function()
    {
        $("#select1").select2({

        });
        $("#select2").select2({
            
        });
    });
</script>
 <!-- Content wrapper -->
 <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-semibold py-3 mb-4"><span class="text-muted fw-light">Joint I'tikaf Committee /</span> Application Form</h4>

      <!-- Toast with Placements -->
      <div
        class="bs-toast toast toast-placement-ex m-2"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-delay="2000"
      >
        </div>
      <!-- Toast with Placements -->
<!-- Bootstrap Toasts with Placement -->
<div class="card mb-4">
    <h5 class="card-header">Search for Available Masjid in your City</h5>
    <div class="card-body">
      <div class="row gx-3 gy-2 align-items-center">
        <div class="col-md-3">
            <form method="get" action="{%url 'applyi'%}">
                {% csrf_token %}

          <label class="form-label" for="select1">City</label>
          <select id="select1" class="form-select color-dropdown" name="select1">
            {% for city in cities %}
                <option value="{{ city.id }}"> {{ city.name }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="select2">Masjid</label>
          <select class="form-select placement-dropdown" id="select2" name="select2">
            {% for mosque in mosques %}
            <option value="{{ mosque.lga_id }}"> {{ mosque.name }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="showToastPlacement">&nbsp;</label>
          <button id="showToastPlacement" class="btn btn-primary d-block">Proceed</button>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}