{% extends 'base.html' %}

{% block content %}
 <!-- Content wrapper -->
 <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-semibold py-3 mb-4"><span class="text-muted fw-light">UI elements /</span> Toasts</h4>

      <!-- Toast with Placements -->
      <div
        class="bs-toast toast toast-placement-ex m-2"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-delay="2000"
      >
        <div class="toast-header">
          <i class="bx bx-bell me-2"></i>
          <div class="me-auto fw-semibold">Bootstrap</div>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Fruitcake chocolate bar tootsie roll gummies gummies jelly beans cake.</div>
      </div>
      <!-- Toast with Placements -->
<!-- Bootstrap Toasts with Placement -->
<div class="card mb-4">
    <h5 class="card-header">Bootstrap Toasts Example With Placement</h5>
    <div class="card-body">
      <div class="row gx-3 gy-2 align-items-center">
        <div class="col-md-3">
          <label class="form-label" for="selectTypeOpt">Type</label>
          <select id="selectTypeOpt" class="form-select color-dropdown">
            <option value="bg-primary" selected>Primary</option>
            <option value="bg-secondary">Secondary</option>
            <option value="bg-success">Success</option>
            <option value="bg-danger">Danger</option>
            <option value="bg-warning">Warning</option>
            <option value="bg-info">Info</option>
            <option value="bg-dark">Dark</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="selectPlacement">Placement</label>
          <select class="form-select placement-dropdown" id="selectPlacement">
            <option value="top-0 start-0">Top left</option>
            
          </select>
        </div>
        <div class="col-md-3">
          <label class="form-label" for="showToastPlacement">&nbsp;</label>
          <button id="showToastPlacement" class="btn btn-primary d-block">Show Toast</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}