{% extends 'base.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    {% include 'data.html' %}

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mosque_dashboard' %}"><i class="bx bxl-telegram me-1"></i>
                            Approval</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_applicant' %}"><i
                             class='bx bx-add-to-queue'></i> Add New Applicant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);"><i
                                class="bx bx-cog me-1"></i> Settings </a>
                    </li>
                </ul>
                
                <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->
{% endblock content%}