{% extends 'base.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->


    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Information/</span> {{ applicant_info }}</h4> <a href="{% url 'mosque_dashboard' %}" class="btn btn-primary me-2">Go Back to Dashboard</a>
        <div class="card mb-4">
            <h5 class="card-header">Activities</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Approval</th>
                            <th>Checked-In</th>
                            <th>Checked-Out</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>
                                <form method="POST" action="{% url 'approved' applicant_info.pk %}">
                                    {% csrf_token %}
                                    
                                    <input class="form-control" type="hidden" id="user" name="user"
                                        value="{{ applicant_id }}" />
                                        <select id="approved" name="approved" class="select3 form-select" required>
                                            <option value="Approved">Approved</option>
                                            <option value="Disapproved">Disapproved</option>
                                        </select>
                                        
                                        <select id="reason" name="reason" class="select3 form-select" style="display: none;">
                                            <option value="">Reason for Disapproval</option>
                                            <option value="Invalid ID">Invalid ID</option>
                                            <option value="Wrong Information">Wrong Information</option>
                                            <option value="History of Violence">History of Violence</option>
                                            <option value="Indefinite Suspension">Indefinite Suspension</option>
                                        </select>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2">Approve</button> 
                                    </div>
                                </form>
                                {% if latest_approved %}
                                <div class="mt-2">
                                    <input type="text" class="form-control" 
                                    value="{{ latest_approved }}" id="IdNum" name="IdNum" readonly/>
                                {% endif %}
                                </div>
                            </td>
                            <td>
                                <form method="POST" action="{% url 'checkin' applicant_info.pk %}">
                                    {% csrf_token %}
                                    <input class="form-control" type="hidden" id="mosque_user" name="mosque_user" value=" " />
                                    <input class="form-control" type="hidden" id="user" name="user"
                                        value="{{ applicant_id }}" />
                                    
                                    <input type="date" class="form-control" id="Checked-In" name="Checked-In" required />
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2">Checked-In</button>
                                    </div>
                                </form>
                                {% if latest_check_in %}
                                <div class="mt-2">
                                    <input type="text" class="form-control" 
                                    value="{{ latest_check_in }}" id="IdNum" name="IdNum" readonly/>
                                {% endif %}
                                
                            </div>
                            </td>
                            <td>
                                <form method="POST" action="{% url 'checkout' applicant_info.pk %}">
                                    {% csrf_token %}
                                    <input class="form-control" type="hidden" id="mosque_user" name="mosque_user" value=" " />
                                    <input class="form-control" type="hidden" id="user" name="user"
                                        value="{{ applicant_id }}" />
                                    
                                    <input type="date" class="form-control" id="Checked-Out" name="Checked-Out" required />
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2">Checked-Out</button>
                                    </div>
                                </form>
                                {% if latest_check_out %}
                                <div class="mt-2">
                                    <input type="text" class="form-control" 
                                    value="{{ latest_check_out }}" id="IdNum" name="IdNum" readonly/>
                                {% endif %}
                                </div>
                            </td>
                            <td>
                                <form method="POST" action="{% url 'comment' applicant_info.pk %}">
                                    {% csrf_token %}
                                    <select id="action" name="action" class="select3 form-select" required>
                                        <option value="Suspension">Suspension</option>
                                        <option value="Expulsion">Expulsion</option>
                                    </select>
                                    <div class="mt-2">
                                    <textarea name="comment" id="comment" cols="50" rows="2" placeholder="What is the reason for your action" required></textarea>
                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                    </div>
                                </form>
                                {% if latest_comment %}
                                <div class="mt-2">
                                    <input type="text" class="form-control" 
                                    value="{{ latest_comment }}" id="IdNum" name="IdNum" readonly/>
                                {% endif %}
                            </div>
                            </td>
                            
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            const approvedSelect = document.getElementById('approved');
            const reasonSelect = document.getElementById('reason');
        
            approvedSelect.addEventListener('change', () => {
                if (approvedSelect.value === 'Disapproved') {
                    reasonSelect.style.display = 'block';
                } else {
                    reasonSelect.style.display = 'none';
                }
            });
        </script>
        
        {% include 'info.html' %}

    </div>
    <!-- / Content -->
    {% endblock content%}