{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    {% include 'data2.html' %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'state_admin' %}"><i class="bx bxl-telegram me-1"></i>
                        Back to Dashboard</a>
                </li>
            </ul>
            <div class="card mb-4">
                <h5 class="card-header">Assign Admin</h5>
                <!-- Account -->
                <form method="POST" action=" ">
                    <hr class="my-0" />
                    <div class="card-body">
                        {% csrf_token %}
                        {{form|crispy}}
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Assign</button>
                    </div>
                </form>             
            
                               
            </div>
        </div>
    </div>
</div>
<style>
    .hide-field {
        display: none;
    }
</style>
{% endblock content %}