<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Welcome to your/</span> Dashboard</h4>
    <ul class="nav nav-pills flex-column flex-md-row mb-3" style="justify-content: right;">
      <li class="nav-item">
          <a class="nav-link active" href="{% url 'logout' %}"><i class="bx bx-log-out"></i>
              Logout</a>
      </li>
    </ul>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
              </div>
              <span class="fw-semibold d-block mb-1">Total Mosques</span>
              <h3 class="text-success card-title mb-2"> {{ total_mosques }} </h3>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                </div>
                <span class="fw-semibold d-block mb-1">Total Admin Users</span>
                <h3 class="card-title mb-2"> {{ total_admins }} </h3>
                
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                </div>
                <span class="fw-semibold d-block mb-1">Total Approved</span>
                <h3 class="card-title mb-2"> {{ total_approved }} </h3>
                
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                </div>
                <span class="fw-semibold d-block mb-1">Total Suspended</span>
                <h3 class="card-title mb-2"> 0 </h3>
                
              </div>
            </div>
          </div>
    </div>