{% extends 'base.html' %}

{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
  
    {% include 'data2.html' %}
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'state_admin' %}"><i class="bx bxl-telegram me-1"></i>
              List of Mosques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_signup' %}"><i class='bx bx-add-to-queue'></i> Add a New
              Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_mosque' %}"><i class="bx bxs-building-house"></i> Add a New Mosque
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-list-ul"></i>
                List of Admins</a>
        </li>
        </ul>
        
        <div class="card">
            <h5 class="card-header">List of Admins</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th>Assigned Mosque</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for a in admins %}
                        <tr>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{a.username}}</strong>
                            </td>
                            <td>{{a.first_name}}</td>
                            <td>{{a.last_name}}</td>
                            <td>{{a.email}}</td>
                            <td>
                                {% for ma in mosque_admins %}
                                    {% if ma.user == a %}
                                        {{ ma.mosque.name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}