{% extends 'base.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    {% include 'data.html' %}

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mosque_dashboard' %}"><i class="bx bxl-telegram me-1"></i>
                        Approval</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class='bx bx-add-to-queue'></i> Add New
                        Applicant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}"><i class="bx bx-cog me-1"></i> Settings </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'action' %}"><i class="bx bxs-comment-x"></i> Actions </a>
                </li>
            </ul>

            <div class="card mb-4">
                <h5 class="card-header"> {{ title }} </h5>
                <!-- Account -->
                <form method="POST" action="{% url 'new_applicant' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="#" alt="passport" class="d-block rounded" height="100" width="100"
                                id="passports" />
                            <div class="button-wrapper">
                                <label for="passport" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Upload Passport</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="passport" class="account-file-input" hidden
                                        accept="image/png, image/jpeg" name="passport" required />
                                </label>
                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">


                            <div class="row">

                            <div class="mb-3 col-md-6">
                                <label for="AName" class="form-label">Name</label>
                                <input class="form-control" type="text" id="AName" name="AName" required />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="age" class="form-label">Age</label>
                                <input class="form-control" type="number" name="age" id="age" maxlength="2" required />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="address" class="form-label">Address</label>
                                <input class="form-control" type="text" id="address" name="address" required />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="phoneNumber">Phone Number</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">NG (+234)</span>
                                    <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"
                                        placeholder="07019575268" required />
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="NName" class="form-label">Next of Kin</label>
                                <input type="text" class="form-control" id="NName" name="NName" required />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="NphoneNumber">Next of Kin Phone Number</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">NG (+234)</span>
                                    <input type="number" id="NphoneNumber" name="NphoneNumber" class="form-control"
                                        placeholder="07019575268" required />
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="SDate" class="form-label">Starting Date</label>
                                <input type="date" class="form-control" id="SDate" name="SDate" required />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="EDate" class="form-label">Ending Date</label>
                                <input type="date" class="form-control" id="EDate" name="EDate" required />
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="IdType" class="form-label">Type of ID</label>
                                <select id="IdType" name="IdType" class="select3 form-select" required>
                                    <option value="National ID Card">National ID Card</option>
                                    <option value="Permanent Voter Card">Permanent Voter Card</option>
                                    <option value="Driver's License">Driver's License</option>
                                    <option value="International Passport">International Passport</option>
                                </select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="IdNum" class="form-label">ID Card Number</label>
                                <input type="text" class="form-control" id="IdNum" name="IdNum" required />
                            </div>
                            <div class="mb-6 col-md-12">
                                <label for="mdcc" class="form-label">Medical Condition</label>
                                <textarea class="form-control" id="mdcc" rows="3" name="mdcc"></textarea>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img src="../assets/img/avatars/1.png" alt="id-card" class="img-fluid" height="200"
                                    width="500" id="id-cards" />
                                <div class="button-wrapper">
                                    <label for="id-card" class="btn btn-primary me-2 mb-4" tabindex="1">
                                        <span class="d-none d-sm-block">Upload ID Card</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file" id="id-card" class="account-file-input" hidden
                                            accept="image/png, image/jpeg" name="id-card" required />
                                    </label>
                                    <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Apply</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- / Content -->
{% endblock content%}