{% extends 'base.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    {% include 'data2.html' %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'state_admin' %}"><i class="bx bxl-telegram me-1"></i>
                        Back to Dashboard</a>
                </li>
                
            </ul>
            <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>
                <!-- Account -->
                <form method="POST" action="{% url 'update_info' profile.pk %}">
                    {% csrf_token %}
                    <hr class="my-0" />
                    <div class="card-body">
                   
                    <div class="mb-3" >
                        <label for="AName" class="form-label">Name</label>
                        <input class="form-control" type="text" id="AName" name="AName" value="{{ profile.name }}" required />
                    </div>
                    <div class="mb-3">
                        <label for="lga" class="form-label">Local Government</label>
                        <input class="form-control" type="text" id="lga" name="lga" value="{{ profile.lga }}" required />
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input class="form-control" type="text" id="address" name="address" value="{{ profile.address }}" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">NG (+234)</span>
                            <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"
                                placeholder="07019575268" value="{{ profile.phone }}" required />
                        </div>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="aa" name="aa" {% if profile.accepting_applications %}checked{% endif %} />
                        <label class="form-check-label" for="aa">Accepting Applications</label>
                    </div>
                
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Update</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
{% endblock content %}